version: '3.9'

services:
  php:
    build: .
    container_name: charlotte-php
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html:cached  # Monte ton projet entier
    depends_on:
      - mysql

  mysql:
    image: mysql:8.2
    container_name: charlotte-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: appdb
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: charlotte-phpmyadmin
    environment:
      PMA_HOST: mysql
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "8081:80"
    depends_on:
      - mysql

volumes:
  data:
