body {
    background-color: skyblue;
}


/* Effet bouton dégradé */
.btn-gradient {
  background: linear-gradient(135deg, #6f42c1, #0d6efd);
  color: white;
  border: none;
  transition: 0.3s;
}
.btn-gradient:hover {
  opacity: 0.85;
  transform: translateY(-2px);
}

/* Animation sur les cartes */
.hover-scale {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.hover-scale:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* Modal plus arrondi */
.modal-content {
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}


#calendar {
  max-width: 100%;
  margin: 0 auto;
}
